<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="POINT_OF_SALES.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="POINT_OF_SALES.My.MySettings.POS_DBConnectionString" connectionString="Data Source=.\SQLEXPRESS2008;Initial Catalog=POS_DB1;Integrated Security=False;User ID=sa;Password=12345" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <userSettings>
    <POINT_OF_SALES.My.MySettings>
      <setting name="COUNT_ROW" serializeAs="String">
        <value>25</value>
      </setting>
      <setting name="QTY_PART" serializeAs="String">
        <value>N0</value>
      </setting>
      <setting name="QTY_DEFOULT" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="MONEY_PART" serializeAs="String">
        <value>N0</value>
      </setting>
      <setting name="WAIT_BUTTONS_H" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="WAIT_BUTTONS_W" serializeAs="String">
        <value>170</value>
      </setting>
      <setting name="WAIT_BUTTONS_COLOR" serializeAs="String">
        <value>212, 78, 77</value>
      </setting>
      <setting name="WAIT_BUTTONS_FONT" serializeAs="String">
        <value>Impact, 48pt</value>
      </setting>
      <setting name="FLAG_BARCODE" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="START_BARCODE" serializeAs="String">
        <value>99</value>
      </setting>
      <setting name="PRINTER_NAME_CASH" serializeAs="String">
        <value>CASH</value>
      </setting>
      <setting name="PRINTER_NAME_KITCHEN" serializeAs="String">
        <value>CASH</value>
      </setting>
      <setting name="DIVIDED_WIEGHT" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="PAGE_WIDTH" serializeAs="String">
        <value>310</value>
      </setting>
      <setting name="PAGE_HIEGHT" serializeAs="String">
        <value>10000</value>
      </setting>
      <setting name="PRINT_DIRECT" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="COPIES_PRINTER" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="PHONE_PRINT" serializeAs="String">
        <value>07722284111</value>
      </setting>
      <setting name="NOTE_PRINT" serializeAs="String">
        <value>شكرا لأختياركم عراق سوفت</value>
      </setting>
      <setting name="FLAG_PRINT_CASH" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FLAG_PRINT_KITCHEN" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="BACKUP_DATA" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CUSTOMER_DISPLAY" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OPTION_ITEMS" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SALES_MINUS" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TICKET_TYPE_DEFOULT" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="FLAG_COST_AVG" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DATABASE_NAME" serializeAs="String">
        <value>POS_DB1</value>
      </setting>
      <setting name="ID" serializeAs="String">
        <value>sa</value>
      </setting>
      <setting name="PWD" serializeAs="String">
        <value>12345</value>
      </setting>
      <setting name="store_type" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PORT_NAME" serializeAs="String">
        <value />
      </setting>
      <setting name="CURRENCY_EXCHANGE" serializeAs="String">
        <value />
      </setting>
      <setting name="Name" serializeAs="String">
        <value />
      </setting>
      <setting name="SVersion" serializeAs="String">
        <value />
      </setting>
      <setting name="AllowUpdate" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="backup_path" serializeAs="String">
        <value />
      </setting>
      <setting name="IQD_CURRENCY" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="KITCHEN_COPIES_PRINTER" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="PRINTER_SIZE" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="P_KEY" serializeAs="String">
        <value />
      </setting>
      <setting name="CUSTOMER_SHOW" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="WHATS_NEW" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="POS_SALES" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="POS_SAFARI" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="POS_SALA" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="POS_DEILEVERY" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="POS_SHOW" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="POS_TYPE_STORE" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MARKET_NAME" serializeAs="String">
        <value>IRAQSOFT</value>
      </setting>
      <setting name="LICENSE_NAME" serializeAs="String">
        <value>IRAQ SOFT</value>
      </setting>
      <setting name="MANY_BOXES" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DELIVERY_CLIENT" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SHOW_FIRST_LANGUAGE" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FIRST_BOX" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ADVANCED_POS" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ADVANCED_INPUT_QTY" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="BILL_NU_AI" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DEFAULT_ACCOUNT" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DEFAULT_ACCOUNT_NAME" serializeAs="String">
        <value />
      </setting>
      <setting name="MULTIPLE_ITEM" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MOBILE_SYNC" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MOBILE_SYNC_TIMER" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MOBILE_SYNC_HOUR" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="DEFAULT_SUPPLIER" serializeAs="String">
        <value />
      </setting>
      <setting name="MWAZNA_NOTIFY" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MIN_ROLL" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ADDMOB" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RONGTA_SCALE_ON" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RONGTA_IP_ADDRESS" serializeAs="String">
        <value>192.168.1.87</value>
      </setting>
      <setting name="RONGTA_WEIGHT_DIRECT" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RONGTA_AUTO_UPLOAD" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="BALANCE_ON" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FAST_PART" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DEFAULT_CUR_BUY" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="AUTO_PAYMENT" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CLOUD_USER" serializeAs="String">
        <value />
      </setting>
      <setting name="CLOUD_PWD" serializeAs="String">
        <value />
      </setting>
      <setting name="CLOUD_CODE" serializeAs="String">
        <value />
      </setting>
      <setting name="CLOUD_SERVICE" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CLOUD_TIME" serializeAs="String">
        <value>9</value>
      </setting>
      <setting name="KITCHEN_FONT_TYPE" serializeAs="String">
        <value />
      </setting>
      <setting name="KITCHEN_FONT_SIZE" serializeAs="String">
        <value>9</value>
      </setting>
      <setting name="PRICE_TYPE" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="CLOUD_SHOW" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DIRECT_NOW_SCALE" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FAST_POS" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="HIDE_TOTAL" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SMART_POS_AD" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FOLDER_SAVE" serializeAs="String">
        <value>MySettingPoint</value>
      </setting>
      <setting name="PC_Name" serializeAs="String">
        <value>.</value>
      </setting>
      <setting name="Language" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="cs_server" serializeAs="String">
        <value>SQLEXPRESS2008</value>
      </setting>
    </POINT_OF_SALES.My.MySettings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>